# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env

# Mac
.DS_Store

# IDEs
.idea/
.vscode/

# Project specific
memory-hunter-data/
memory-hunter-models/
*.log
windows_deploy/
test_photos/
